// >>-- 103 Footer Page css start --<<
.footer-page {
    footer{
        position: unset ;
        padding-left: 0 !important;
        border-radius: var(--app-border-radius);
        box-shadow: var(--box-shadow);
    }
    .footer-list{
        ul {
            li{
                font-size: 16px; 
                color: rgba(var(--secondary),1);
                i{
                    color: rgba(var(--dark),.75);  
                }
                a {
                    margin-right: 15px;
                }
            }
        }
    }
    

    .footer-first{
        p{
            font-size: 16px; 
            color: rgba(var(--secondary),1);
        }
    }
}
@mixin footer-page_mixin($name, $color) {
    .footer-#{$name} {
        background-color: rgba(#{$color},1);
        .footer-brand{
            color: rgba(var(--white),1);
        }
            li{
               a{
                color: rgba(var(--white),1) !important;
               } 
            }
            
    
    }
}
@each $name, $color in $colors {
    @include footer-page_mixin("#{$name}", map-get($colors, $name));
  }
// >>-- 103 Footer Page css end --<<