.card-platforms{
    background-image: url("../images/platforms/02.jpg   ");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: grid;
    border-radius: var(--bs-border-radius);
}
