/*---------------------------------------------
    :: Breadcrumbs
-----------------------------------------------*/
.breadcrumbs-area {
    background-color: #808080;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 991px) {
    .breadcrumbs-area {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.breadcrumbs-area .title {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    margin-bottom: 6px;
    position: relative;
    color: #ff0000;
}

@media (max-width: 991px) {
    .breadcrumbs-area .title {
        font-size: 20px;
    }
}

.breadcrumbs-area .breadcrumb.listing {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.breadcrumbs-area .breadcrumb .single-list:last-child::before {
    float: left;
    padding-right: 5px;
    content: "\f1af";
    font-family: "remixIcon";
    font-size: 16px;
    margin-top: 8px;
    line-height: 1;
    color: #ff0000;
}

.breadcrumbs-area .breadcrumb .single-list .single {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #ff0000;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .breadcrumbs-area .breadcrumb .single-list .single {
        font-size: 14px;
    }
}

.breadcrumbs-area .breadcrumb .single-list .single.active {
    color: #ff0000;
}
