.center-thing {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 1px dashed rgb(var(--dark), 0.3);
  display: block;
  margin: auto;
  border-radius: 24px;
}
.center-thing i {
  font-size: 50px;
  color: rgb(var(--primary));
}
.center-thing .top-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-thing .center {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center;
}
.center-thing .bottom-center {
  height: 150px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.center-thing .left-center {
  display: flex;
  height: 150px;
  align-items: center;
}
.center-thing .right-center {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 150px;
}
.center-thing .top-right {
  display: flex;
  justify-content: end;
}
.center-thing .bottom-left {
  align-items: end;
  display: flex;
  height: 150px;
}
.center-thing .bottom-right {
  display: flex;
  justify-content: end;
  height: 150px;
  align-items: end;
}
.center-thing .center-horizantal {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center;
}
.center-thing .center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.image-center-thing {
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px dashed rgb(var(--dark), 0.3);
  border-radius: 24px;
}
.image-center-thing .image-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.image-center-thing .image-center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.image-center-thing img {
  height: 150px;
}
.image-center-thing .image-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.image-center-thing .image-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.image-center-thing .image-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}