// >>-- 77 Product_list css start --<<

.product-list-table {
    table {
        thead {
            tr {
                th:first-child {
                    min-width: 50px;
                }
                th:nth-child(2) {
                    min-width: 250px;
                }
                th:nth-child(3) {
                    min-width: 100px;
                }
                th:nth-child(4) {
                    min-width: 100px;
                }
                th:nth-child(5) {
                    min-width: 100px;
                }
                th:nth-child(6) {
                    min-width: 100px;
                }
                th:nth-child(7) {
                    min-width: 200px;
                }
                th:nth-child(8) {
                    min-width: 100px;
                }
            }
        }
        tbody{
            tr{
                td{
                    &:nth-child(2){
                        font-weight: 600;
                    }
                    &:nth-child(3){
                        font-weight: 500;
                        color: rgba(var(--success),1);
                    }
                    &:nth-child(6){
                        color: rgba(var(--dark),1);
                        font-weight: 600;
                    }
                    &:nth-child(7){
                        color: rgba(var(--info-dark),1);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
// >>-- 77 Product_list css end --<<
