@model List<AppMenuDto>



    <ul>
        @foreach (var menu in Model)
        {
            <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">@menu.Title <i class="icon-down-open-mini"></i></a>
                @if (menu.SubMenus.Any())
                {
                    <ul>
                        @foreach (var subMenu in menu.SubMenus)
                        {
                            <li><a href="@subMenu.Url">@subMenu.Title</a></li>
                        }
                    </ul>
                }
            </li>
        }
      
    </ul>
